{% assign url = page.url %}
{% if url != "/" %}
    {% assign size = url | size | minus: 5 %}
    {% assign url = page.url | slice: 0, size %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="UTF-8">
        {% if site.google_analytics %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ site.google_analytics }}');
            </script>
        {% endif %}

        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <div class="header-container container-fluid" role="banner">
            <div class="container container-responsive">
                <nav class="navbar header navbar-expand-md navbar-dark d-flex">
                    <a class="navbar-brand mr-auto" href="{{ site.url }}">
                        <h1 class="display-4">
                            <em>juice</em>
                        </h1>
                    </a>
                    <span class="d-none d-md-block navbar-text h3">
                        The <strong><em>juicy</em></strong> programming language
                    </span>
                    <button class="navbar-toggler button-borderless collapsed" type="button" aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar top-bar bg-white"></span>
                        <span class="icon-bar middle-bar bg-white"></span>
                        <span class="icon-bar bottom-bar bg-white"></span>
                    </button>
                </nav>
            </div>
        </div>
        <div class="nav-container container-fluid">
            <div class="container container-responsive">
                <nav class="navbar navbar-expand-md navbar-dark p-0 w-100">
                    <ul class="navbar-nav nav-justified w-100 d-none d-md-flex">
                        {% for item in site.data.nav.navigationitems %}
                            <li class="nav-item">
                                <a class="nav-link{% if item.url == url %} active{% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="navbar-nav mobile-nav flex-column border-top border-white d-flex d-md-none" id="mobile-nav">
                        {% for item in site.data.nav.navigationitems %}
                            <li class="nav-item">
                                <div class="row">
                                    <a class="nav-link col-12 text-center{% if item.url == url %} active{% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>

        <main id="content" class="main-content" role="main">
            <div class="container">
                {{ content }}
                <div class="before-after-buttons d-flex justify-content-between">
                    {% if page.before %}
                        <a class="btn btn-link" href="{{ page.before | relative_url }}" role="button"><i class="fas fa-angle-left"></i></a>
                    {% else %}
                        <button type="button" class="btn btn-link" disabled><i class="fas fa-angle-left"></i></button>
                    {% endif %}
                    {% if page.after %}
                        <a class="btn btn-link" href="{{ page.after | relative_url }}" role="button"><i class="fas fa-angle-right"></i></a>
                    {% else %}
                        <button type="button" class="btn btn-link" disabled><i class="fas fa-angle-right"></i></button>
                    {% endif %}
                </div>
                <footer class="site-footer">
                    <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
                </footer>
            </div>
        </main>

        <script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
        {% if page.js %}
            {% for js in page.js %}
                {% if js.local %}
                    <script src="{{ js.url | relative_url }}"></script>
                {% else %}
                    <script src="{{ js.url }}" integrity="{{ js.integrity }}" crossorigin="anonymous"></script>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page.math %}
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                  tex2jax: {
                    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                    inlineMath: [['$','$']]
                  }
                });
              </script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" async></script>
        {% endif %}
    </body>
</html>
